<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.bartowski.easteregg">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- a gallery of delicious treats -->
        <service
            android:name="info.bartowski.easteregg.DessertCaseDream"
            android:enabled="false"
            android:exported="true"
            android:label="dessert_case"
            android:permission="android.permission.BIND_DREAM_SERVICE"
            android:process=":sweetsweetdesserts">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- platform logo easter egg activity -->
        <activity
            android:name="info.bartowski.easteregg.DessertCase"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="/dessert_case"
            android:launchMode="singleInstance"
            android:process=":sweetsweetdesserts"
            android:screenOrientation="locked"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.bartowski.easteregg.MLandActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/icon"
            android:label="@string/mland"
            android:launchMode="singleInstance"
            android:process=":sweetsweetdesserts"
            android:screenOrientation="locked"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="info.bartowski.easteregg.LLandActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar"
            android:exported="true"
            android:label="@string/lland"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:screenOrientation="locked"
            android:process=":sweetsweetdesserts"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.android.internal.category.PLATLOGO" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.bartowski.easteregg.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BeanBag"
            android:exported="true"
            android:label="BeanBag"
            android:icon="@drawable/redbeandroid"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>