<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.bartowski.easteregg">

    <uses-permission android:name="android.permission.VIBRATE" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/jandycane"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- a gallery of delicious treats -->
        <service
            android:name=".DessertCaseDream"
            android:enabled="false"
            android:exported="true"
            android:label="dessert_case"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- platform logo easter egg activity -->
        <activity
            android:name=".DessertCase"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:label="/dessert_case"
            android:launchMode="singleInstance"
            android:screenOrientation="locked"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MLandActivity"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:label="@string/mland"
            android:launchMode="singleInstance"
            android:screenOrientation="locked"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".LLandActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:label="@string/lland"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:screenOrientation="locked"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BeanBag"
            android:label="BeanBag"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Nyandroid"
            android:label="Nyandroid"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ZombieActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <activity android:name=".HoneybeeActivity"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen">
        </activity>
    </application>

</manifest>